Package: com.iosdev.modmenu
Name: ios mod menu
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iosdev
Author: iosdev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
